@charset "utf-8";

html{
    font-size: 100%;
}

body{
    font-family: 'Arial','メイリオ','ヒラギノ角ゴシック','Hiragino Sans',sans-serif;
    line-height: 1.7;
    color: #443322;
}

a {
    text-decoration: none;
}

img{
    max-width: 100%;
}

/*上記は共通部分だから覚えておく！！！！！*/

/*　背景画像指定　*/

#home{
    background-image: url(image/bg.jpg);
    min-height: 100vh;    
}

#home .page-title{
    text-transform: none;
}

.big-bg{
    background-position: center top;
    background-repeat: no-repeat;

}

/*　ナビゲーション　--------------------------------------------- */

.logo{
    width: 210px;
    margin-top: 30px;
}

.main-nav{
    display: flex;
    font-size: 1rem;
    text-transform: uppercase;
    margin-top: 34px;
    list-style: none;

}

.main-nav li{
    margin-left: 34px;
}

.main-nav a{
    color: white;
}

.main-nav a:hover{
    color: palevioletred;

}


.page-header{
    display: flex;
    justify-content: space-between;

}

.wrapper{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 4%;


}

/* ホームコンテンツ----------------------------------------------------　*/

.home-content{
    text-align: center;
    margin-top: 17%;
}

.home-content h2{
    margin: 10px 0 42px;
    color: white;
}

.home-content a{
    color: white;
   
}

.home-content a:hover{
    color: palevioletred;

}

.page-title{
    font-size: 30px;

}

.botton {
    font-size: 1.375rem;
    background-color: rgba(250,245,249,0.2);
    border-radius: 5px;
    padding:10px 32px;
  
}

/* newsコンテンツ下から ------------------------------------------------- */

#news{
    background-image: url(image/bg.JPG);
    height: 270px;
    margin-bottom: 40px;
}

#news .page-title{
    text-align: center;
    color: white;
    font-size: 30px;    
    
}

/*　メインはこちら --------------------------------------------------------　*/

article{
    width: 74%;

}

aside{
    width: 22%;
    
}





.post-info{
    position: relative;
    padding-top: 4px;
    margin-bottom: 40px;

}

article img{
    margin-bottom: 20px;

    
}
article p{
    margin-bottom: 1rem;
    
    
}
.post-date{
    background-color: cornflowerblue;
    border-radius: 50%;
    color: #ffffff;
    width: 100px;
    height: 100px;
    font-size: 1.652rem;
    text-align: center;
    position: absolute;
    top: 0;
    padding-top: 10px;
}

.post-date span{
    font-size: 1rem;
    border-top: 1px rgba(250,245,249,0.2) solid;
    padding-top: 6px;
    display: block;
    width: 50%;
    margin: 0 auto;
}

.post-title{
    font-family: "yu mincho", "yumincho",serif;
    font-size: 2rem;
    font-weight: normal;


}


.post-title, .post-cat{
    margin-left: 110px;
    
}

/* サブタイトル----------------------------------------------------　*/

.sub-title{
    font-size: 1.375rem;
    padding: 0 8px 8px;
    border-bottom: 2px cornflowerblue solid;
    font-weight: normal;
}

aside p {
    padding: 12px 10px;
}

.sub-menu{
    margin-bottom: 60px;
    list-style: none;
}

.sub-menu li{
    border-bottom: 1px #ddd solid;
}

.sub-menu a {
    color: #443322;
    padding: 10px;
    display: block;
}

.sub-menu a:hover{
    color: salmon;
}

/* フッター　--------------------------------------------------- */

footer{
    background-color: cornflowerblue;
    text-align: center;
    padding: 26px 0;
}

footer p{
    color: white;
    font-size: 0.875rem;
}


